<div class="container">
  <div class="box">
    <div class="product-img">
      <img src="<%= @character["image_url"] %>" width="100%" alt="...">
    </div>
    <div class="product-info">
      <h1><%= @character["name"] %></h1>
      <p class="price"><%= @character["actor"] %></p>
      <p class="description"><%= @character["info"] %></p>
      <br /><br />
      <button> <%= link_to "Volver a Personajes", characters_path %> </button>

    </div>
  </div>
</div>

<h1> <%= @character["name"] %> </h1>

<div class="card" style="width: 18rem;">
  <img src="<%= @character["image_url"] %>" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= @character["actor"] %></p>
  </div>
</div>
